@tailwind base;
@tailwind components;
@tailwind utilities;

/* //google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cormorant+Garamond&family=Dosis:wght@300&family=Kdam+Thmor+Pro&family=Maven+Pro&family=Merriweather&family=Open+Sans&family=Poppins&family=Raleway:wght@200&family=Roboto&family=Signika+Negative:wght@500&family=Source+Sans+Pro:wght@200&family=Space+Mono&family=Zilla+Slab:wght@600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
